<div class="container">
    <div class="header">
        <h2>Información de la solicitud</h2>
    </div>
    <table class="table-request">
        <thead>
            <tr>
                <th>Tipo de solicitud</th>
                <th>Nombre del solicitante</th>
                <th>Fecha de registro</th>
                <th>detalles de la solictud</th>
                <th>Estado</th>
                <th>Revisor</th>
                <th>valor</th>
                <th>Ciudad</th>
                <th>Nombre del banco</th>
                <th>tipo de cuenta</th>
                <th>NUmero de cuenta</th>
                <th>Numero de CEX</th>
                <th>Residente fiscal</th>
                <th>Declarador de renta</th>
                <th>Costo y deducion</th>
            </tr>
        </thead>
        <tbody>
                {% request %}
                    <tr>
                        <td>{{ request.user_name }}</td>
                        <td>{{ request.user_name }}</td>
                        <td>{{ request.date }}</td>
                        <td>{{ request_concept }}</td>
                        <td>{{ request.user_name }}</td>
                        <td>{{ request.amount }}</td>
                        <td>{{ request.city }}</td>
                        <td>{{ request.banck_name }}</td>
                        <td>{{ request.account_type }}</td>
                        <td>{{ request.account_number }}</td>
                        <td>{{ request.CEX_no }}</td>
                        <td>{{ request.bank_name }}</td>
                        <td>{{request.fiscal_resident}}</td>
                        <td>{{request.rent_tax_declarant}}</td>
                        <td>{{request.costs_and_deductions}}</td>

        </tbody>
    </table>
</div>

