body {
    background: #e5e5e5;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    background: #1E4072;
    margin: 10;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: #ffffff;
}

a{
    text-decoration: none;
}


.sin-margenes {
    margin: 0;
}

.with-margin {
    margin: 20px;
    margin-right: 20px;
}

.user-button {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.user-button img {
    vertical-align: middle;
    /* Alinear verticalmente la imagen */
    margin-right: 5px;
    /* Espacio entre la imagen y el texto */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
}

.card {
    text-align: center;
    background: gray;
    color: whitesmoke;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    background-color: #1E4072;
}

.form-container {
    width: 800px; 
    margin: 20px auto; 
    margin-left: 10px;
    border: 2px solid #ccc; 
    padding: 20px; 
    border-radius: 5px;
}



.form-container .form-control {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control-user{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.submit-button {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
