body {
    font-family: sans-serif;
	background: #e5e5e5;
    color: #000000;
    font-family: Arial, sans-serif;
	margin: 0;
    padding: 0;
}

.navigation:hover {
    background-color: #0d6efd;
    opacity: 0.8;
    color: #fff;
}

/* Navbar */

/* .navbar {
    background-color: #1E4072;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-left: 10px;
}

.user-info {
    color: white;
}

.user-info a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.user-info a:hover {
    background: #d03123;
} */

/* Users Page */
/*
.container {
    width: 80%;
    margin: 0 auto;
}

.table-users {
    width: 100%;
    border-collapse: collapse;
}

.table-users th {
    background: #1E4072;
    color: #fff;
    font-weight: bold;
}

.table-users th, .table-users td {
    padding: 10px;
    text-align: center;
    border: 1px solid #e7e7e7;
}

.form-role {
    display: flex;
    justify-content: space-evenly;
}

.role-select {
    padding: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

.role-select:focus {
    outline: none;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #4C8ECB;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background: #56a0e6;
}

.button:disabled {
    background: #e7e7e7;
    color: #000;
    cursor: not-allowed;
}

.button:focus {
    outline: none;
}

.search {
    padding: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

.search:focus {
    outline: none;
    border: 1px solid #4C8ECB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.nav-links {
    display: flex;
}

.nav-link {
    margin-right: 10px;
}

.navigation {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #1E4072;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navigation:hover {
    background-color: #bbb;
    color: #fff;
}

.active {
    background-color: #ccc;
    color: #000;
}
.additional-info {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.info-container {
    width: 50%;
    margin: 0 auto;
} */


/*
Debe estar en base.css de user_mgmt
*/
.square_cards {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    
    justify-content: center;
    align-items: center;
    background-color: #a9abaa; /* Cambia esto al color de fondo deseado */
}

.text {
    text-align: center;
    font-size: 18px;
    color: #000000;

}
