

.header-main {
    background: #1E4072;
    margin: 10;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.header h1 {
    color: #ffffff;
}

a{
    text-decoration: none;
}


.sin-margenes {
    margin: 0;
}

.with-margin {
    margin: 20px;
    margin-right: 20px;
}

.div-with-space {
    margin-bottom: 25px; 
    margin-top: 10px;
}

.user-button {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.user-button img {
    vertical-align: middle;
    /* Alinear verticalmente la imagen */
    margin-right: 5px;
    /* Espacio entre la imagen y el texto */
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
}

.card {
    text-align: center;
    background: gray;
    color: whitesmoke;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    background-color: #1E4072;
}

.form-container {
    width: 95%;
    margin: 20px auto;
    margin-left: 10px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
}

.form-container .form-control {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container-flex {
    width: 70%;
    margin: 0 auto;
    margin-left: 10px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.form-container-flex .form-control {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    margin-right: 30px;
    border-radius: 5px;
}

.form-container-column {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.submit-button {
    margin-top: 15px;
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #1E4072;
}

.add-expense-button {
    display: inline-block; /* Cambiado a inline-block para alinear a la izquierda */
    margin: 0; /* Eliminado el margen */
    padding: 8px 16px; /* Reducir el padding para hacer el botón más pequeño */
    font-size: 14px; /* Reducir el tamaño de la fuente */
    background-color: #1E4072;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.add-expense-button:hover {
    background-color: #163152; /* Cambia el color de fondo cuando se pasa el mouse */
}
/* Estilos para la información de la solicitud */
.request-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.info-group {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.info-group h3 {
    margin-top: 0;
}

.info-group p {
    margin: 0 0 10px;
}

.form-reviewer {
    margin-top: 20px;
}

.form-control-user {
    margin-bottom: 10px;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
