{% extends "layouts/base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Cuenta de cobro {% endblock %}</title>
</head>

<body>
    {% block content %}
    {% include "sidemenu.html" %}
    <div class="container">
        <h1 class="mt-5 mb-4">Nueva solicitud - Cuenta de cobro</h1>

        <form method="POST" class="mb-5" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ user_info_form.as_p }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ charge_account_form.as_p }}
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <p>
                    Con el fin de atender lo establecido en la Ley 2277 del año 2022, reglamentada con el Decreto 2231
                    de diciembre de 2023 Declaro, bajo la gravedad de juramento, que: Los ingresos recibidos como
                    persona natural por concepto de renta de trabajo no proveniente de una relación laboral, legal o
                    reglamentaria correspondiente a los servicios prestados a LA UNIVERSIDAD ICESI durante el año 2024,
                    se les dará el siguiente tratamiento:
                </p>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tax_treatment">Se tomarán costos y deducciones asociados a las rentas de trabajo por
                            los servicios prestados:</label>
                        {{ tax_treatment_form }}
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="city">Ciudad:</label>
                        {{ city_date_form.city }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="date">Fecha:</label>
                        {{ city_date_form.date }}
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ checkbox_form }}
                    </div>
                </div>
            </div>





            <div class="mt-5">
                <h2>Información bancaria</h2>
                <div class="form-group">
                    {{ bank_info_form }}
                </div>
            </div>

            <div class="mt-5">
                <h3>Documentos</h3>

                <div class="form-group">
                    <label for="id_documents">RUT:</label>
                    {{ upload_documents.documents }}
                </div>

                <div class="form-group">
                    <label for="id_documents">Certificado Bancario:</label>
                    <input type="file" name="bank_certificate">
                </div>
<!--
                
                <div class="form-group">
                    <label for="id_documents">RUT:</label>
                    <input type="file" name="bank_certificate">
                </div>

                <div class="form-group">
                    <label for="id_documents">Certificado bancario:</label>
                    {{ upload_documents.documents }}
                </div>
-->
                
            </div>
            <div class="text-center">
                <button name="submit_button" type="submit" class="btn btn-success">Enviar</button>
            </div>
            
        </form>
    </div>
    {% endblock %}
</body>

</html>