{% extends "layouts/base.html"%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Viaticos {% endblock %}</title>
</head>

<body>
    {% block content %}
    {% include "sidemenu.html" %}
    <h1 class="mx-5 mt-5"> Nueva solicitud - Viáticos </h1>
    <div class="mx-5">
        <h3 class="mb-4">Por favor, tener en cuenta: </h3>
        <ol class="mb-4">
            <li>Los anticipos en moneda nacional deben solicitarse con tres días hábiles antes de la fecha de viaje
                (como mínimo)</li>
            <li>Los anticipos en moneda extranjera (dólar y euro) deben solicitarse cinco días hábiles antes de la fecha
                de viaje (como mínimo) </li>
            <li>Todos los soportes de legalización deben venir a nombre de la Universidad Icesi Nit. 890.316.745-5.
                Documento sin este requisito, será rechazado en la legalización.</li>
        </ol>
    </div>
    <div class="container">
        <form method="POST" class="mx-5">
            {% csrf_token %}
            <div class="row mb-4">
                <div class="col">
                    <h3>Información del viajero </h3>
                    <div class="row">
                        <div class="col">
                            {{user_info}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <h3>Presupuesto de gastos</h3>
                    <div class="row">
                        <div class="col">
                            {{ expense_budget }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <h3>Documentos</h3>
                    <div class="row">
                        <div class="col">
                            {{ upload_documents }}
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mb-5">Enviar</button>
        </form>
    </div>
    {% endblock %}
</body>

</html>