{% extends "layouts/base.html"%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Legalzación de facturas {% endblock %}</title>
</head>

<body>
    {% block content %}
    <h1 class="with-margin"> Nueva solicitud - Legalización de facturas </h1>

    <form method="POST" class="with-margin">
        {% csrf_token %}
        <div class="div-with-space">
            <h3>Información del viajero: </h3>
            <div class="form-container-flex">
                {{ user_info }}
            </div>
        </div>
        <div class="form-container-flex div-with-space">
            <div class="form-container-column">
                <label for="id_legalization_date">Fecha de legalización:</label>
                {{ invoice_legalization_form.legalization_date }}

                <label for="id_dependency">Dependencia:</label>
                {{ invoice_legalization_form.dependency }}

                <label for="id_destination_city">Ciudad de destino:</label>
                {{ invoice_legalization_form.destination_city }}
            </div>
            <div class="form-container-column">
                <label for="id_departure_date">Fecha de salida:</label>
                {{ invoice_legalization_form.departure_date }}

                <label for="id_reason_trip">Motivo de viaje:</label>
                {{ invoice_legalization_form.reason_trip }}
            </div>
        </div>

        <h2> Relación de gastos </h2>

        <div class="div-with-space">
            <div id="expense-container" class="">
                <div class="form-container-flex" id="rubros-table">
                    {{ expense_ratio_form }}
                </div>
            </div>

            <button type="button" onclick="addExpense()" class="simple-button">Agregar Gasto</button>

        </div>


        <div class="div-with-space"> {{ balance_discount_autorization_form }} </div>

        <div class="div-with-space form-container-flex"> {{ bank_information }} </div>

        <div class="div-with-space form-container">
            {{ observations }}
        </div>

        <div class="form-group with-margin">
            <h3>Documentos</h3>
            
            {{ upload_documents }}
            
        </div>

        <button type="submit" class="submit-button">Enviar </button>
    </form>

    <script>
        function addExpense() {
            var expenseContainer = document.querySelector('#expense-container');
            var newExpenseContainer = document.createElement('div');
            var newExpenseRow = document.createElement('div');
            newExpenseRow.className = 'form-container-flex';
            newExpenseRow.innerHTML = `
                {{ expense_ratio_form }}
            `;
            newExpenseContainer.appendChild(newExpenseRow);
            expenseContainer.appendChild(newExpenseContainer);
        }
    </script>

    {% endblock %}
</body>

</html>