asgiref==3.7.2
Brotli==1.1.0
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
distlib==0.3.8
dj-database-url==2.1.0
Django==5.0.6
django-dotenv==1.4.2
django-extensions==3.2.3
filelock==3.13.1
gunicorn==22.0.0
h11==0.14.0
identify==2.5.35
lxml==5.2.1
nodeenv==1.8.0
packaging==24.0
platformdirs==4.2.0
pre-commit==3.6.2
psycopg==3.1.18
psycopg2-binary==2.9.9
python-docx==1.1.2
python-dotenv==1.0.1
PyYAML==6.0.1
setuptools==69.1.1
sqlparse==0.4.4
typing_extensions==4.11.0
tzdata==2024.1
uvicorn==0.29.0
virtualenv==20.25.1
whitenoise==6.6.0
