{% extends "layouts/base.html" %}
{% block content %}
{% include "sidemenu.html" %}

<div class="container">
    <div class="header">
        <h2>Solicitudes por aprobar</h2>
    </div>
    <div class="row">
        {% for request in requests_to_approval %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'detail_request' request.id %}" class="card text-center custom-card">
                <div class="card-body">
                    <h5 class="card-title">{{ request.type }}</h5>
                    <p class="card-text">{{ request.requester }}</p>
                    <p class="card-text">{{ request.initial_date|date:"d/m/Y" }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
