{% extends "layouts/base.html" %}
{% block content %}

<body>
    <div class="container">
        <h1>Solicitantes</h1>
        <div class="user-list">
            <ul>
                {% for user in users_needing_approval %}
                    <li>
                        <p>{{ user.username }}</p>
                        <!-- Agrega más información sobre el usuario si es necesario -->
                        <textarea id="comment-{{ user.id }}" placeholder="Escribe un comentario"></textarea>
                        <div class="button-container">
                            <button class="approve-btn" type="submit" onclick="approveUser('{{ user.id }}')"> Aceptar</button>
                            <button class="reject-btn" onclick="rejectUser('{{ user.id }}')">Rechazar</button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        function approveUser(userId) {
            // Aquí puedes realizar alguna acción antes de enviar el formulario si es necesario
            // Por ejemplo, puedes mostrar un popup de confirmación antes de enviar el formulario
            if (confirm("¿Estás seguro de aprobar este usuario?")) {
                document.getElementById('user_id').value = userId;
                document.getElementById('action').value = 'approve';
                document.getElementById('approveForm').submit();
            }
        }

        function rejectUser(userId) {
            // Aquí puedes realizar alguna acción antes de enviar el formulario si es necesario
            // Por ejemplo, puedes mostrar un popup de confirmación antes de enviar el formulario
            if (confirm("¿Estás seguro de rechazar este usuario?")) {
                document.getElementById('user_id').value = userId;
                document.getElementById('action').value = 'reject';
                document.getElementById('approveForm').submit();
            }
        }
    </script>
</body>

{% endblock %}