{% extends "layouts/base_auth.html" %}
{% block content %}
    {% comment %} {% if error %}<div class="alert_danger" role="alert">{{ error }}</div>{% endif %}
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="form_button" type="submit" value="Registrarse">
        <a href="{% url 'login' %}">Ya tengo una cuenta</a>
    </form> {% endcomment %}
    <div class="container">
        <div class="row align-items-center justify-content-center"
             style="height: 100vh">
            <div class="col-md-4">
                <div class="card shadow-lg border-0 rounded-lg bg-light-subtle">
                    <div class="card-body">
                        {% if error %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">{{ form.first_name }}</div>
                            <div class="mb-3">{{ form.last_name }}</div>
                            <div class="mb-3">{{ form.phone }}</div>
                            <div class="mb-3">{{ form.id_type }}</div>
                            <div class="mb-3">{{ form.id_number }}</div>
                            <div class="mb-3">{{ form.email }}</div>
                            <div class="mb-3">{{ form.password }}</div>
                            <div class="mb-3">{{ form.password_confirm }}</div>
                            <div class="row">
                                <div class="col-12 text-center mb-3">
                                    <button type="submit" class="btn btn-primary w-100">Registrarse</button>
                                </div>
                                <div class="col-12 text-center mb-1">
                                    <a href="{% url 'login' %}"
                                       class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                        Ya tengo una cuenta
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
