{% extends "layouts/base.html" %}
{% block content %}
    <div class="container">
        <h2>Usuarios</h2>
        <table class="table-users">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Fecha de registro</th>
                    <th>Estado</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.created_at }}</td>
                        <td>{{ user.is_active }}</td>
                        <td>{{ role_form }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
