{% extends "layouts/base.html" %}
{% block content %}
    {% include "sidemenu.html" %}

    <h2 name="welcome" style="text-align: center">Bienvenidos al Sistema de Gestión Contable</h2>

    <p class="center-justify-text">El sistema de Gestión Contable se desarrolló para facilitar el uso.</p>

    <div class="center-justify-text">
        <ul>
            <li>Flexibilidad y eficiencia en la clasificación de solicitudes</li>
            <li>Automatización eficiente del proceso</li>
            <li>Seguridad y control rigurosos</li>
            <li>Sistema de seguimiento automatizado</li>
        </ul>
    </div>

    <style>
        .center-justify-text {
            padding-top: 20px;
            text-align: justify;
            margin: 0 auto;
            width: 50%; /* Ajusta el ancho según tus necesidades */
        }
    </style>
{% endblock %}

