{% extends "layouts/base.html" %}
{% block content %}
    {% if request.type == 'Cuenta de Cobro' %}
        <div class="request-info">
            <style>
                .custom-border {
                    border: 1px solid rgba(0, 0, 0, 0.125);
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                }
                .container-md {
                    margin-top: 20px;
                }
            </style>
            {% include "sidemenu.html" %}
            <div class="container-md">
                <div class="text-left bg-light text-dark p-3 custom-border mb-4">
                    <h5 class="mb-4">Información general</h5>
                    <p>
                        <strong>Tipo de solicitud:</strong>&nbsp;&nbsp;{{ request.type }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong>Fecha:</strong>&nbsp;&nbsp;{{ request.date }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong>Ciudad:</strong>&nbsp;&nbsp;{{ request.city }}
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-left bg-light text-dark p-3 custom-border mb-4">
                            <h5 class="mb-4">Información del solicitante</h5>
                            <p>
                                <strong>Nombre del solicitante:</strong>&nbsp;&nbsp;{{ request.requester }}
                            </p>
                            <p>
                                <strong>Identificación:</strong>&nbsp;&nbsp;{{ request.requester.id_type }}&nbsp;&nbsp;{{ request.requester.id_number }}
                            </p>
                            <p>
                                <strong>Correo electrónico:</strong>&nbsp;&nbsp;{{ request.requester.email }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-left bg-light text-dark p-3 custom-border mb-4">
                            <h5 class="mb-4">Información bancaria</h5>
                            <p>
                                <strong>Banco:</strong>&nbsp;&nbsp;{{ request.bank_name }}
                            </p>
                            <p>
                                <strong>No. de cuenta:</strong>&nbsp;&nbsp;{{ request.account_number }}
                            </p>
                            <p>
                                <strong>Tipo de cuenta:</strong>&nbsp;&nbsp;{{ request.account_type }}&nbsp;&nbsp;<strong>CEX No:</strong>&nbsp;&nbsp;{{ request.cex_no }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-left bg-light text-dark p-3 custom-border">
                    <h5 class="mb-4">Información de la solicitud</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <strong>Monto:</strong>&nbsp;&nbsp;$&nbsp;{{ request.amount }}
                            </p>
                            <p>
                                <strong>Concepto:</strong>&nbsp;&nbsp;{{ request.concept }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <strong>Costos y deducciones:</strong>&nbsp;&nbsp;{{ request.costs_and_deductions }}
                            </p>
                            <p>
                                <strong>Declarante de impuesto de renta:</strong>&nbsp;&nbsp;
                                {% if request.rent_tax_declarant %}
                                    Si
                                {% else %}
                                    No
                                {% endif %}
                            </p>
                            <p>
                                <strong>Residente fiscal:</strong>&nbsp;&nbsp;
                                {% if request.fiscal_resident %}
                                    Si
                                {% else %}
                                    No
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% if user.role == "Accounting Manager" or user.role == "Process Leader" or user.role == "Admin" %}
                    <div class="text-left bg-light text-dark p-3 custom-border mb-4 mt-4">
                        <h5 class="mb-4">Asignaciones</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <form class="d-inline-flex align-items-center"
                                      method="post"
                                      action="{% url 'update_reviewer' request.id %}">
                                    {% csrf_token %}
                                    <label class="form-label fw-bold me-2">Revisor:</label>
                                    {{ select_reviewer }}
                                    <button type="submit" class="btn btn-primary ms-4">Asignar Revisor</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form class="d-inline-flex align-items-center"
                                      method="post"
                                      action="{% url 'update_approver' request.id %}">
                                    {% csrf_token %}
                                    <label class="form-label fw-bold me-2">Aprobador:</label>
                                    {{ select_approver }}
                                    <button type="submit" class="btn btn-success ms-4">Asignar Aprobador</button>
                                </form>
                            </div>
                        </div>
                    </div>


                {% endif %}

                {% if user.role == "Reviewer" and request.status.status == "Revisión" %} <!-- filtro para que solo permita solicitudes que estén en Revisión -->
                    <div class="text-left bg-light text-dark p-3 custom-border mb-4 mt-4">
                        <h5 class="mb-4">Acciones - Revisor</h5>
                        <form method="post" action="{% url 'detail_request' request.id %}" class="d-inline-flex">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comentario">Pon tu comentario:</label>
                                <textarea class="form-control" id="comentario_{{ request.id }}" name="comentario" rows="3"></textarea>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success me-4" name="action" value="Aceptar">Aceptar</button>
                                <button type="submit" class="btn btn-danger" name="action" value="Rechazar">Rechazar</button>
                            </div>
                        </form>
                    </div>
                {% endif %}

                {% if user.role == "Aprobador" and request.status.status == "Aceptado" %} <!-- filtro para que solo permita solicitudes que estén en Aceptado -->
                    <div class="text-left bg-light text-dark p-3 custom-border mb-4 mt-4">
                        <h5 class="mb-4">Acciones - Aprobador</h5>
                        <form method="post" action="{% url 'detail_request' request.id %}" class="d-inline-flex">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label for="comentario">Pon tu comentario:</label>
                                    <textarea class="form-control" id="comentario_{{ request.id }}" name="comentario" rows="3"></textarea>
                                </div>
                                <div class="form-group text-center">                       
                                    <button type="submit" class="btn btn-success me-4" name="action" value="Aprobar">Aprobar</button>
                                    <button type="submit" class="btn btn-danger" name="action" value="Rechazar">Rechazar</button>
                                </div>
                        </form>
                    </div>
                {% endif %}

            </div>
        </div>
    {% endif %}
    {% if request.type == 'Legalización de Factura' %}
        <style>
    .custom-border {
        border: 1px solid rgba(0, 0, 0, 0.125);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .container-md {
        margin-top: 20px;
    }

        </style>
        <div class="request-info">
            {% include "sidemenu.html" %}
            <div class="container-md">
                <div class="text-left bg-light text-dark p-3 custom-border mb-4">
                    <h5 class="mb-4">Información general</h5>
                    <p>
                        <strong>Tipo de solicitud:</strong>&nbsp;&nbsp;{{ request.type }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong>Fecha:</strong>&nbsp;&nbsp;{{ request.date }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong>Ciudad:</strong>&nbsp;&nbsp;{{ request.city }}
                    </p>
                </div>
                <div class="text-left bg-light text-dark p-3 custom-border mb-4">
                    <h5 class="mb-4">Gastos</h5>
                    <a href="{% url 'request_expense' request.id %}" class="btn btn-primary">
                        Agregar Gasto 
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-left bg-light text-dark p-3 custom-border mb-4">
                            <h5 class="mb-4">Información del solicitante</h5>
                            <p>
                                <strong>Nombre del solicitante:</strong>&nbsp;&nbsp;{{ request.requester }}
                            </p>
                            <p>
                                <strong>Identificación:</strong>&nbsp;&nbsp;{{ request.requester.id_type }}&nbsp;&nbsp;{{ request.requester.id_number }}
                            </p>
                            <p>
                                <strong>Correo electrónico:</strong>&nbsp;&nbsp;{{ request.requester.email }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-left bg-light text-dark p-3 custom-border mb-4">
                            <h5 class="mb-4">Información bancaria</h5>
                            <p>
                                <strong>Banco:</strong>&nbsp;&nbsp;{{ request.bank_name }}
                            </p>
                            <p>
                                <strong>No. de cuenta:</strong>&nbsp;&nbsp;{{ request.account_number }}
                            </p>
                            <p>
                                <strong>Tipo de cuenta:</strong>&nbsp;&nbsp;{{ request.account_type }}&nbsp;&nbsp;<strong>CEX No:</strong>&nbsp;&nbsp;{{ request.cex_no }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-left bg-light text-dark p-3 custom-border">
                    <h5 class="mb-4">Información de la solicitud</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <strong>Monto:</strong>&nbsp;&nbsp;$&nbsp;{{ request.amount }}
                            </p>
                            <p>
                                <strong>Concepto:</strong>&nbsp;&nbsp;{{ request.reason_trip }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <strong>Fecha de legalización:</strong>&nbsp;&nbsp;{{ request.legalization_date }}
                            </p>
                            <p>
                                <strong>Ciudad de destino:</strong>&nbsp;&nbsp;{{ request.destination_city }}
                            </p>
                            <p>
                                <strong>Fecha de partida:</strong>&nbsp;&nbsp;{{ request.departure_date }}
                            </p>
                            <p>
                                <strong>Autorización descuento:</strong>&nbsp;&nbsp;{{ request.discount_authorization }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if user.role == "Accounting Manager" or "Process Leader" or "Admin" %}
                    <div class="text-left bg-light text-dark p-3 custom-border mb-4 mt-4">
                        <h5 class="mb-4">Asignaciones</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <form class="d-inline-flex align-items-center"
                                      method="post"
                                      action="{% url 'update_reviewer' request.id %}">
                                    {% csrf_token %}
                                    <label class="form-label fw-bold me-2">Revisor:</label>
                                    {{ select_reviewer }}
                                    <button type="submit" class="btn btn-primary ms-4">Asignar Revisor</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form class="d-inline-flex align-items-center"
                                      method="post"
                                      action="{% url 'update_approver' request.id %}">
                                    {% csrf_token %}
                                    <label class="form-label fw-bold me-2">Aprobador:</label>
                                    {{ select_approver }}
                                    <button type="submit" class="btn btn-success ms-4">Asignar Aprobador</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {% if user.role == "Reviewer" and request.status.status == "Revisión" %} <!-- filtro para que solo permita solicitudes que estén en Revisión -->
                    <div class="text-left bg-light text-dark p-3 custom-border mb-4 mt-4">
                        <h5 class="mb-4">Acciones - Revisor</h5>
                        <form method="post" action="{% url 'detail_request' request.id %}" class="d-inline-flex">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label for="comentario">Pon tu comentario:</label>
                                    <textarea class="form-control" id="comentario_{{ request.id }}" name="comentario" rows="3"></textarea>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-success me-4" name="action" value="Aceptar">Aceptar</button>
                                    <button type="submit" class="btn btn-danger" name="action" value="Rechazar">Rechazar</button>
                                </div>
                        </form>
                    </div>
                {% endif %}

                {% if user.role == "Aprobador" and request.status.status == "Aceptado" %} <!-- filtro para que solo permita solicitudes que estén en Aceptado -->
                    <div class="text-left bg-light text-dark p-3 custom-border mb-4 mt-4">
                        <h5 class="mb-4">Acciones - Aprobador</h5>
                        <form method="post" action="{% url 'detail_request' request.id %}" class="d-inline-flex">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label for="comentario">Pon tu comentario:</label>
                                    <textarea class="form-control" id="comentario_{{ request.id }}" name="comentario" rows="3"></textarea>
                                </div>
                                <div class="form-group text-center">                       
                                    <button type="submit" class="btn btn-success me-4" name="action" value="Aprobar">Aprobar</button>
                                    <button type="submit" class="btn btn-danger" name="action" value="Rechazar">Rechazar</button>
                                </div>
                        </form>
                    </div>
                {% endif %}

            {% endif %}

                

            </div>
        </div>
    {% endif %}
<!--
        <form method ='get' action="{% url 'delete_request' request.id %}">
        {% csrf_token %}
        <button>
            DELETE
        </button>
    </form>
-->
    
{% endblock %}
