{% extends "layouts/base.html"%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva solicitud</title>
</head>

<body>
    

    {% block content%}
    <div>
        <h1 class="with-margin">Nueva solicitud</h1>
    </div>
    <main class = "container">
    

        <a href="{% url 'charge_account' %}"> <div class = "card"> Cuenta de cobro </div> </a>

        <a href="{% url 'invoice_legalization' %}">
            <div class = "card"> Legalización de facturas </div>
        </a>
        <a href="{% url 'advance_request' %}">
            <div class = "card"> Anticipos </div>
        </a>
        <a href="{% url 'perdiem_request' %}">
            <div class = "card"> Viáticos </div>
        </a>
        <a href="{% url 'invoice_legalization' %}">
            <div class = "card"> Facturas </div>
        </a>
    </div>
{% endblock %}
</body>

</html>