{% extends "layouts/base.html" %}
{% block content %}
    {% include "sidemenu.html" %}
    <div>
        <h1 class="with-margin">Nueva solicitud</h1>
    </div>
    <main class="container-main">
        <a href="{% url 'charge_account' %}">
            <div class="card">Cuenta de cobro</div>
        </a>
        <a href="{% url 'invoice_legalization' %}">
            <div class="card">Legalización de facturas</div>
        </a>
        <a href="{% url 'advance_request' %}">
            <div class="card">Anticipos</div>
        </a>
        <a href="{% url 'travel_expenses' %}">
            <div class="card">Viáticos</div>
        </a>
        <a href="{% url 'invoice_legalization' %}">
            <div class="card">Facturas</div>
        </a>
    </main>
{% endblock %}
