{% extends "layouts/base.html" %}
{% block content %}
    {% include "sidemenu.html" %}
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Mis solicitudes</h2>
        </div>
        <table class="table table-striped table-bordered mt-4">
            <thead>
                <tr>
                    <th style="background-color: #1E4072;" class="text-light text-center">Tipo de solicitud</th>
                    <th style="background-color: #1E4072;" class="text-light text-center">Gestor asignado</th>
                    <th style="background-color: #1E4072;" class="text-light text-center">Fecha de inicio</th>
                    <th style="background-color: #1E4072;" class="text-light text-center">Fecha de cierre</th>
                    <th style="background-color: #1E4072;" class="text-light text-center">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                    <tr>
                        <td class="text-center">{{ request.type }}</td>
                        <td class="text-center">{{ request.manager }}</td>
                        <td class="text-center">{{ request.initial_date|date:"d/m/Y" }}</td>
                        {% if request.closing_date %}
                            <td class="text-center">{{ request.closing_date|date:"d/m/Y" }}</td>
                        {% else %}
                            <td class="text-center">---</td>
                        {% endif %}
                        <td class="text-center">{{ request.status.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
