{% extends "layouts/base.html" %}
{% block content %}
    <div>
        <h1 class="with-margin">Nueva solicitud</h1>
    </div>
    <div class="container">
        <a href="{% url 'charge_account' %}">
            <div class="card">Cuenta de cobro</div>
        </a>
        <a href="">
            <div class="card">Legalización de facturas</div>
        </a>
        <a href="">
            <div class="card">Anticipos</div>
        </a>
        <a href="">
            <div class="card">Viáticos</div>
        </a>
        <a href="">
            <div class="card">Facturas</div>
        </a>
    </div>
{% endblock %}
