{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} Users {% endblock %}</title>
        <link rel="stylesheet" href="{% static '/css/base.css' %}" />
        <link rel="stylesheet" href="{% static '/css/main.css' %}" />

    </head>
    <body>
        <nav class="navbar">
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static '/images/logo.png' %}" alt="Logo" />
            </a>

            <a href="{% url 'assign_roles' %}" class="navigation {% if request.resolver_match.url_name == 'assign_roles' %} active {% endif %}">ROLES</a>
            <a href="{% url 'requests_list' %}" class="navigation {% if request.resolver_match.url_name == 'requests_list' %} active {% endif %}">SOLICITUDES</a>
            <a href="{% url 'requests_index' %}" class="navigation {% if request.resolver_match.url_name == 'requests_index' %} active {% endif %}">CREAR SOLICITUD</a>
            <a href="{% url 'approver_users' %}" class="navigation {% if request.resolver_match.url_name == 'approver_users' %} active {% endif %}">APROBADORES</a>
            
            <div class="user-info">
                <span>{{ user }}</span>
                <a href="{% url 'logout' %}">Salir</a>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
