body {
    font-family: sans-serif;
	background-color: #fbfbfb;
	margin: 0;
    padding: 0;
	overflow: hidden;
}

.navbar {
    background: #1E4072;
    color: #fff;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 50px;
    padding: 5px 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    display: inline;
    margin: 0 10px;
}

.navbar ul li a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    border-radius: 5px;
}

.navbar ul li a:hover {
    background: #29589e;
}

.user {
    padding: 0 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.table-users {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0;
}

.table-users th {
    background: #1E4072;
    color: #fff;
    font-weight: bold;
}

.table-users th, .table-users td {
    padding: 10px;
    text-align: center;
    border: 1px solid #e7e7e7;
}

.form-role {
    display: flex;
    justify-content: space-evenly;
    /* margin: 20px 0; */
}

.role-select {
    padding: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

.role-select:focus {
    outline: none;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #4C8ECB;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background: #56a0e6;
}

.button:disabled {
    background: #e7e7e7;
    color: #000;
    cursor: not-allowed;
}

.button:focus {
    outline: none;
}
