{% extends "layouts/base.html"%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cuenta de cobro </title>
</head>
<body>
    {% block content %}
    <h1 class = "with-margin"> Nueva solicitud - Cuenta de cobro</h1>

    <form method="POST" >
        {% csrf_token %}
        <div class="form-control-user with-margin">
            {{ user_form.as_p }}
        </div>

        <div class="with-margin" >
            {{ charge_account.as_p }}
        </div>
        
        
        
        <button type="submit" class="submit-button">Enviar</button>
    </form>

    {% endblock %}
</body>
</html>