{% extends "layouts/base_requests.html"%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cuenta de cobro </title>
</head>

<body>
    {% block content %}
    <h1 class="with-margin"> Nueva solicitud - Cuenta de cobro</h1>

    <form method="POST" class="with-margin">
        {% csrf_token %}
        <div class="form-container-flex with-margin">
            {{ user_form.as_p }}
        </div>

        <div class="with-margin form-container">
            {{ charge_account.as_p }}
        </div>

        <div>
            <p>
                Con el fin de atender lo establecido en la Ley 2277 del año 2022, reglamentada con el Decreto 2231 de
                diciembre de 2023 Declaro, bajo la gravedad de juramento, que:

                Los ingresos recibidos como persona natural por concepto de renta de trabajo no proveniente de una
                relación laboral, legal o reglamentaria correspondiente a los servicios prestados a LA UNIVERSIDAD ICESI
                durante el año 2024, se les dará el siguiente tratamiento:
            </p>

            <div class="with-margin form-container">
                {{ taxTreatment }}
            </div>

            <div class="with-margin form-container">
                {{ checkBox }}
            </div>

            <div class="with-margin form-container-flex"> 
                {{ city_date }}
            </div>
            
        </div>
        
        <div>
            <h2> Información bancaria </h2>
            <div class="with-margin form-container-flex">
                {{ bankInformation }}
            </div>
        </div>


        <button type="submit" class="submit-button">Enviar</button>
    </form>

    {% endblock %}
</body>

</html>